stages:
  - build

build:
  stage: build
  image: debian:unstable
  script:
    - apt-get update && apt-get install -y texlive-full make
    - make pdf
  artifacts:
    untracked: true
    expire_in: 1 week
  when: on_success
